<h1>Editar Ocorrência</h1>

<%= render 'form' %>


<div class="expanded button-group">
	<%= link_to 'Mostrar', @issue, :class => 'button hollow primary' %>
	<%= link_to 'Voltar', issues_path, :class => 'button hollow secondary' %>
</div>
