<h1>Editar Ocorrência</h1>

<%= render 'form' %>

<<<<<<< HEAD
=======

>>>>>>> ed84577415ea5f9f9ea065ed0c9ee7b66459235e
<div class="expanded button-group">
	<%= link_to 'Mostrar', @issue, :class => 'button hollow primary' %>
	<%= link_to 'Voltar', issues_path, :class => 'button hollow secondary' %>
</div>
<<<<<<< HEAD

=======
>>>>>>> ed84577415ea5f9f9ea065ed0c9ee7b66459235e
