<h1>Nova Ocorrência</h1>

<%= render 'form' %>

<<<<<<< HEAD
<div class="expanded button-group">
	<%= link_to 'Voltar', issues_path, :class => 'button hollow primary' %>
</div>
=======
<%= link_to 'Voltar', issues_path %>
>>>>>>> 41ce545aa5c9042f9e6a0fda4d6e95eec04341d7
