<h1>Editar Comentário</h1>

<%= render 'form' %>

<div class="expanded button-group">
<%= link_to 'Mostrar', @comment, :class => 'button hollow primary' %>
<%= link_to 'Voltar', comments_path, :class => 'button hollow secondary' %>
</div>